/* стили для корневого элемента слайдера */
.itcss {
  position: relative;
  width: 100%;
}

/* стили для wrapper */
.itcss__wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.itcss__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  will-change: transform;
}

/* стили для элементов */
.itcss__item {
  position: relative;
  min-width: 1222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
}

/* Индикаторы */
.itcss__indicators {
  display: none;
}

/* класс для отключения transition */
.transition-none {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.d-none {
  display: none;
}



@media (max-width: 1312px) {
  .itcss__item {
    min-width: 808px;
  }
}



@media (max-width: 868px) {
  .itcss__item {
    min-width: 394px;
  }
}



@media (max-width: 500px) {
  .itcss__item {
    min-width: 335px;
  }
}
